.hidden {
  opacity: 0;
}

.revealed {
  opacity: 1;
  transition: opacity;
  transition-duration: 2s;
}

html {
  font-family: monospace;
  font-size: 150%;
  margin: 0;
}

#nav {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: #2d3436;
  color: white;
}

#nav a {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  background-color: #2d3436;
  color: #b2bec3;
  text-decoration: none;
  padding-top: 25px;
  padding-left: 40%;
  height: 75px;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
  height: 75px;
  font-size: 125%;
}

img {
  max-height: 400px;
  max-width: auto;
}

#sectionone {
height: 800px;
background-color: #fdcb6e;
display: grid;
grid-template-columns: 50% 50%;
}

#sectionone img {
grid-column: 1;
padding-top: 25%
}

#sectionone p {
grid-column: 2;
padding-top: 40%
}

#sectiontwo {
height: 800px;
background-color: #e17055;
display: grid;
grid-template-columns: 33% 33% 33%;
grid-template-rows: 33% 33% 33%;
}

#sectiontwo p {
font-size: 75%;
grid-column: 2;
grid-row: 3;
}

#sectiontwo img {
  grid-column: 1;
  grid-row: 1;
  padding-top: 30%;
  padding-left: 45%;
}

#sectionthree {
height: 800px;
background-color: #d63031;
display: grid;
}

#sectionthree img {
grid-column: 1;
padding-top: 25%
}

#sectionthree p {
grid-column: 2;
padding-top: 40%
}

#sectionfour {
height: 800px;
background-color: #e84393;
margin: 0;
display: grid;
grid-template-rows: 33% 33% 33%;
}

#sectionfour p {
  margin: 0;
  grid-row: 2;
  text-align: center;
}
#startOver {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  background-color: #2d3436;
}
#startOver a {
  background-color: #2d3436;
  color: #b2bec3;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 0;
  height: 75px;
  font-size: 100%;
  grid-row: 100%;
  grid-column: 100%;
  text-decoration: none;
  margin: 0 auto;
}
