.hidden {
  opacity: 0;
}

.extraHidden {
  opacity: 0;
}
.revealed {
  opacity: 1;
  transition: opacity;
  transition-duration: 1.5s;
}
html {
  font-family: monospace;
  font-size: 150%;
  margin: 0;
  color: white;
}

.background {
  height: 100px;
  background-image: url("images/firebackground.jpg");
  background-attachment: fixed;
     background-position: center;
     background-repeat: repeat;
     background-size: cover;
}

#nav {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15;
  grid-template-rows: 33% 33% 33%;
  background-color: #c23616;
  color: white;
  height: 150px;
  align-items: flex-end;
  grid-gap: 10px;
  padding: 1%;

}

#nav a {
  color: white;
  text-decoration: none;
  background-color: #e1b12c;
  margin: 0;
  border-radius: 2px;
  text-align: center;
}

#nav h1:nth-child(0) {
  grid-column: 0 / 1;
  grid-row: 1 / 2;
}

#nav a:nth-child(1) {
  grid-column: 1 / 2;
	grid-row: 1 / 2;
}

#nav a:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#nav a:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#nav a:nth-child(4) {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

#nav a:nth-child(5) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

h1 {
  background-color: #c23616;
  color: white;
  text-align: left;
  margin: 0 auto;
  padding-left: 25px;
  font-size: 125%;
}

img {
  max-height: 350px;
}

#sectionone {
height: 600px;
background-color: #2f3640;
display: grid;
grid-template-columns: 50% 50%;
}

#sectionone img {
grid-column: 1;
padding-top: 25%;
max-width: 95%;
padding-left: 1%;
}

#sectionone p {
grid-column: 2;
padding-top: 35%;
}

#sectiontwo {
height: 600px;
background-color: black;
 display: grid;
 grid-template-columns: 20% 20% 20% 20% 20%;
/* grid-template-rows: ; */
}

 #paperstacksImg {
  grid-column: 1;
  grid-row: 1;
  max-width: 95%;
}

#paperstacks2Img {
  grid-column: 5;
  grid-row: 1;
  max-width: 95%;
}

#paperstacks3Img {
 grid-column: 1;
 grid-row: 2;
 max-width: 95%;
}

#paperstacks4Img {
 grid-column: 5;
 grid-row: 2;
 max-width: 95%;
}

#paperstacksText {
  grid-column: 2;
  grid-row: 2;
  max-width: 95%;
  text-align: center;
}

#paperstacks2Text {
  grid-column: 3;
  grid-row: 2;
  max-width: 95%;
  text-align: center;
}

#paperstacks3Text {
  grid-column: 4;
  grid-row: 2;
  max-width: 95%;
  text-align: center;
}

#showText {
  grid-column: 3;
  grid-row: 1;
  max-width: 100px;
  max-height: 75px;
  padding: 5%;
  margin-left: 25%;
  margin-top: 50%;
  font-family: monospace;
  font-weight: bold;
}

#sectionthree {
height: 600px;
background-color: #2f3640;
display: grid;
}

#sectionthree img {
grid-column: 1;
padding-top: 25%;
max-width: 95%;
padding-left: 1%;
}

#sectionthree p {
grid-column: 2;
padding-top: 30%;
}
/*done*/

#infoLinks {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15;
  grid-template-rows: 33% 33% 33%;
  background-color: #c23616;
  color: white;
  height: 150px;
  align-items: Start;
  grid-gap: 10px;
  padding: 1%;
}
#infoLinks a {
  color: white;
  text-decoration: none;
  background-color: #e1b12c;
  margin: 0;
  border-radius: 2px;
  text-align: center;
}

#infoLinks a:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#infoLinks a:nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#infoLinks img {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  max-width: 300px;
  max-height: 200px;
  background-color: #c23616;
}
